/lab2_debug/.objs
/lab2_debug/*.o
/lab3_memory/*.o
/lab3_memory/*.txt
/lab3_memory/.objs
/lab3_memory/allocate
/lab3_memory/allocate-asan
settings.json
/mp2_intro/*.o
/mp2_intro/*.txt
/mp2_intro/RGBA/*.txt
/mp2_intro/RGBA/*.o

/lab2_debug/*.txt
/lab2_debug/*.png

/lab4_inheritance/*.o
/lab4_inheritance/*.txt
/lab4_inheritance/.objs
/lab4_inheritance/test_slicing
/lab4_inheritance/test_pure_virtual
